@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap);

body {
  /* background-color: #FF5A5A; */
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #1e1e20;
}

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

.text {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

nav{
  width: 33%;
  display:flex;
  justify-content: space-between;
}

.textanim{
  position: relative;
  top: 3vh;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}


#oval {
  z-index:-1;
  position: relative;
  top:5vh;
  width: 200px;
  height: 100px;
  background: #434C0B;
  border-radius: 100px / 50px;
  margin:auto;
}

#circle {
  z-index:-1;
  position: relative;
  top:5vh;
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50px;
  margin:auto;
}

#trapezoid {
  border-bottom: 100vw solid whitesmoke;
  border-left: calc(50vw - 100px) solid transparent;
  border-right: calc(50vw - 100px) solid transparent;
  height: 0;
  width: auto;
  animation: startoff 4s 1, flicker 5s infinite linear 5s;
}

.lamp{
  transform-origin: top center;
  animation: swing 2s infinite alternate ease-in-out;
}

.tableset{
  animation: startoff 4s 1
}

.fallover{
  transform: rotate(90deg);
  transition: transform 1s ease-in
}

.dry{
  transform: scale(0);
  opacity: 0;
}

.water{
  transform: scale(1);
  opacity: .5;
  transition: transform 1s 1s, opacity 1s 1s
}

#pf1{
  transform:scale(2)
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes swing {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg)
  }
}

@keyframes flicker {
  0% {
    opacity:0;
  }
  1%{
    opacity:1;
  }
  10%{
    opacity:1;
  }
  11%{
    opacity:0;
  }
  13%{
    opacity:1;
  }
  16%{
    opacity:1;
  }
  17%{
    opacity:0;
  }
  19%{
    opacity:1;
  }
  30%{
    opacity:1;
  }
  31%{
    opacity:0;
  }
  32%{
    opacity:1;
  }
  100% {
    opacity:1;
  }
}

@keyframes startoff {
  0%{
    opacity:0;
  }
  90%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@media only screen and (max-width: 600px) {
  .textanim{
    font-size: 1rem;
  }
  #oval{
    width: 100px;
    height: 50px;
    border-radius: 50px / 25px;
  }
  #trapezoid{
    border-bottom: 100vh solid whitesmoke;
    border-left: calc(50vw - 50px) solid transparent;
    border-right: calc(50vw - 50px) solid transparent;
  }
  nav{
    width:100%;
  }
  .welcome{
    max-width:100vw;
    max-height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
