@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap);

body {
  /* background-color: #FF5A5A; */
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #1e1e20;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.textanim{
  position: relative;
  top: 5vh;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

#oval {
  z-index:-1;
  position: relative;
  top:5vh;
  width: 200px;
  height: 100px;
  background: #434C0B;
  border-radius: 100px / 50px;
  margin:auto;
}

#circle {
  z-index:-1;
  position: relative;
  top:5vh;
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50px;
  margin:auto;
}

#trapezoid {
  border-bottom: 100vw solid whitesmoke;
  border-left: calc(50vw - 100px) solid transparent;
  border-right: calc(50vw - 100px) solid transparent;
  height: 0;
  width: auto;
  animation: startoff 4s 1, flicker 5s infinite linear 5s;
}

.lamp{
  transform-origin: top center;
  animation: swing 2s infinite alternate ease-in-out;
}

.tableset{
  animation: startoff 4s 1
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes swing {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg)
  }
}

@keyframes flicker {
  0% {
    opacity:0%
  }
  1%{
    opacity:100%
  }
  10%{
    opacity:100%
  }
  11%{
    opacity:0%
  }
  13%{
    opacity:100%
  }
  16%{
    opacity:100%
  }
  17%{
    opacity:0%
  }
  19%{
    opacity:100%
  }
  30%{
    opacity:100%
  }
  31%{
    opacity:0%
  }
  32%{
    opacity:100%
  }
  100% {
    opacity:100%
  }
}

@keyframes startoff {
  0%{
    opacity: 0%
  }
  90%{
    opacity:0%
  }
  100%{
    opacity:100%
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
