.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.177000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.104000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.130000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.067000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc3{color:rgb(17,85,204);}
.fc2{color:rgb(102,102,102);}
.fc1{color:rgb(32,121,199);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:144.000000px;}
.y5{bottom:12.353004px;}
.y4{bottom:25.362003px;}
.y3{bottom:38.371004px;}
.y2{bottom:51.380004px;}
.y9{bottom:59.587005px;}
.y20{bottom:70.398018px;}
.y8{bottom:73.681003px;}
.y1{bottom:76.064004px;}
.y1f{bottom:81.711017px;}
.y7{bottom:87.775002px;}
.y6{bottom:101.869003px;}
.y1e{bottom:104.517017px;}
.yb{bottom:159.799976px;}
.y35{bottom:161.418022px;}
.y1d{bottom:170.692035px;}
.y34{bottom:176.124023px;}
.y1c{bottom:187.892024px;}
.y33{bottom:190.830025px;}
.y1b{bottom:204.446020px;}
.y32{bottom:205.536022px;}
.y31{bottom:220.242023px;}
.y1a{bottom:237.120013px;}
.y30{bottom:240.948029px;}
.y19{bottom:254.320033px;}
.y2f{bottom:255.654030px;}
.y2e{bottom:270.360027px;}
.y18{bottom:270.874029px;}
.y2d{bottom:285.066028px;}
.y17{bottom:300.335011px;}
.y2c{bottom:305.772026px;}
.y2b{bottom:320.478027px;}
.y2a{bottom:335.184029px;}
.y16{bottom:345.804028px;}
.y29{bottom:349.890026px;}
.y15{bottom:360.510028px;}
.y28{bottom:364.596025px;}
.y14{bottom:377.710017px;}
.y27{bottom:392.089024px;}
.y13{bottom:394.264029px;}
.y12{bottom:426.938022px;}
.ya{bottom:429.000000px;}
.y26{bottom:437.558032px;}
.y11{bottom:444.138026px;}
.y25{bottom:458.264026px;}
.y10{bottom:460.692022px;}
.y24{bottom:478.970028px;}
.yf{bottom:493.366023px;}
.y23{bottom:493.676028px;}
.ye{bottom:510.566028px;}
.y22{bottom:514.382023px;}
.yd{bottom:527.120024px;}
.y21{bottom:529.088022px;}
.yc{bottom:556.581025px;}
.y0{bottom:630.969997px;}
.h5{height:15.000000px;}
.h8{height:24.312500px;}
.h4{height:27.351562px;}
.h3{height:30.024000px;}
.h9{height:30.960000px;}
.ha{height:32.652000px;}
.h7{height:39.908000px;}
.h1{height:119.688004px;}
.h2{height:130.608000px;}
.h6{height:604.400024px;}
.h0{height:792.000000px;}
.w3{width:128.000000px;}
.w2{width:167.000000px;}
.w1{width:360.500000px;}
.w0{width:612.000000px;}
.x1{left:8.200000px;}
.x4{left:44.200000px;}
.x0{left:49.350001px;}
.x2{left:407.850001px;}
.x3{left:416.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:192.000000pt;}
.y5{bottom:16.470673pt;}
.y4{bottom:33.816004pt;}
.y3{bottom:51.161339pt;}
.y2{bottom:68.506672pt;}
.y9{bottom:79.449340pt;}
.y20{bottom:93.864024pt;}
.y8{bottom:98.241337pt;}
.y1{bottom:101.418672pt;}
.y1f{bottom:108.948022pt;}
.y7{bottom:117.033337pt;}
.y6{bottom:135.825338pt;}
.y1e{bottom:139.356023pt;}
.yb{bottom:213.066635pt;}
.y35{bottom:215.224030pt;}
.y1d{bottom:227.589380pt;}
.y34{bottom:234.832031pt;}
.y1c{bottom:250.522699pt;}
.y33{bottom:254.440033pt;}
.y1b{bottom:272.594694pt;}
.y32{bottom:274.048030pt;}
.y31{bottom:293.656030pt;}
.y1a{bottom:316.160018pt;}
.y30{bottom:321.264038pt;}
.y19{bottom:339.093377pt;}
.y2f{bottom:340.872040pt;}
.y2e{bottom:360.480036pt;}
.y18{bottom:361.165372pt;}
.y2d{bottom:380.088037pt;}
.y17{bottom:400.446681pt;}
.y2c{bottom:407.696035pt;}
.y2b{bottom:427.304036pt;}
.y2a{bottom:446.912038pt;}
.y16{bottom:461.072037pt;}
.y29{bottom:466.520035pt;}
.y15{bottom:480.680037pt;}
.y28{bottom:486.128034pt;}
.y14{bottom:503.613356pt;}
.y27{bottom:522.785365pt;}
.y13{bottom:525.685371pt;}
.y12{bottom:569.250696pt;}
.ya{bottom:572.000000pt;}
.y26{bottom:583.410709pt;}
.y11{bottom:592.184035pt;}
.y25{bottom:611.018701pt;}
.y10{bottom:614.256030pt;}
.y24{bottom:638.626704pt;}
.yf{bottom:657.821364pt;}
.y23{bottom:658.234704pt;}
.ye{bottom:680.754704pt;}
.y22{bottom:685.842697pt;}
.yd{bottom:702.826698pt;}
.y21{bottom:705.450696pt;}
.yc{bottom:742.108033pt;}
.y0{bottom:841.293330pt;}
.h5{height:20.000000pt;}
.h8{height:32.416667pt;}
.h4{height:36.468750pt;}
.h3{height:40.032000pt;}
.h9{height:41.280000pt;}
.ha{height:43.536000pt;}
.h7{height:53.210667pt;}
.h1{height:159.584005pt;}
.h2{height:174.144000pt;}
.h6{height:805.866699pt;}
.h0{height:1056.000000pt;}
.w3{width:170.666667pt;}
.w2{width:222.666667pt;}
.w1{width:480.666667pt;}
.w0{width:816.000000pt;}
.x1{left:10.933333pt;}
.x4{left:58.933333pt;}
.x0{left:65.800002pt;}
.x2{left:543.800002pt;}
.x3{left:554.666667pt;}
}
